/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --cover-image: url("../images/cover-image-dark.png");
  --only-dark: block;
  --accent-color: #ff0070;
  --bg-color: #000028;
  --main-title-color: #db00ff;
  --title-color: #ff0070;
  --subtitle-color: #000028;
  --text-color: #f1b2ce;
  --graphic-color: #ff0070;
  --graphic-color-rgb: 255 0 112;
}
